
// colors
$black: #000000;
$white: #FFFFFF;
$red: #ff3939;
$yellow: #fdce4d;
$green: #408267;
$light-blue: #e9ecef;
$gray: #e7e7e7;
$dark-gray: #9c9c9c;
$blue: #007bc6;

// sizes
$footer-height: 700px;