@use "./public/base";
@use "./public/footer";
@use "./public/header";
@use "./public/vars" as v;
@use "./public/tools" as t;

.fullsize-background-section {
    width: 100%;
    height: 800px;
    background-size: cover;
    padding: 0px 75px;
    box-sizing: border-box;
    background-color: v.$yellow;
    position: relative;

    @media (max-width: 600px) {
        padding: 0 v.$mobile-page-padding;
    }

    &__content {
        @include t.flex-end-flex-start-box(column);

        width: 100%;
        height: 100%;
        padding-bottom: 80px;
        box-sizing: border-box;
        gap: 8px;
    }

    &__title-con {
        // @include t.flex-box();

        // flex-wrap: wrap;
        max-width: 250px;

        .text-on-white {
            line-height: 36px;
        }
    }

    &__btns-con {
        margin-top: 17px;
    }
}

.text-on-white {
    display: inline;
    padding: 7px;
    background-color: v.$white;
    font-weight: 700;
    font-family: "Adidas font";
    text-decoration: none;
    color: v.$black;
    flex-shrink: 0;    

    &--thin {
        font-weight: 400;
    }

    &--spaced {
        letter-spacing: 1px;
    }

    &--small {
        font-size: 15px;
        
        @media (max-width: 500px) {
            font-size: 14px;
        }
    }

    &--middle {
        font-size: 17px;
    
        @media (max-width: 500px) {
            font-size: 13px;
        }
    }

    &--large {
        font-size: 20px;

        @media (max-width: 500px) {
            font-size: 15px;
        }
    }
}

.line-shadow-btn {
    @include t.flex-box(row);

    padding: 20px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    color: v.$black;
    background-color: v.$white;
    gap: 20px;
    z-index: 0;

    @media (max-width: 500px) {
        font-size: 15px;
    }

    &:hover {
        &::before {
            border-color: v.$gray;
        }

        &::after {
            border-color: v.$gray;
        }
    }

    &::after {
        width: 100%;
        height: 5px;
        content: "";
        left: 6px;
        bottom: -7px;
        position: absolute;
        border-bottom: 1px solid v.$white;
        border-left: 1px solid v.$white;
        z-index: -1;
    }

    &::before {
        width: 5px;
        height: 100%;
        content: "";
        right: -7px;
        bottom: -7px;
        position: absolute;
        border-top: 1px solid v.$white;
        border-right: 1px solid v.$white;
        z-index: -1;
    }
}

.categories-section {
    @include t.flex-box();

    padding: 0px 65px;
    box-sizing: border-box;

    @media (max-width: 600px) {
        padding: 0px v.$mobile-page-padding;
    }

    &__title {
        font-size: 30px;
        font-weight: 700;
        letter-spacing: 2px;
        margin-bottom: 35px;

        @media (max-width: 600px) {
            font-size: 25px;
        }
    }

    &__categories-con {
        @include t.center-center-box(row);
        
        flex-wrap: wrap;
        // gap: 4%;
    }

    &__category {
        width: 25%;
        aspect-ratio: 1 / 1.5;
        padding: 5px;
        box-sizing: border-box;

        @media (max-width: 1200px) {
            width: 50%;
        }

        @media (max-width: 600px) {
            padding: 2px;
        }
    }

    &__category-content {
        @include t.flex-end-flex-start-box();
        
        width: 100%;
        height: 100%;
        background-color: v.$yellow;
        padding: 20px;
        box-sizing: border-box;
        position: relative;

        &--hover {
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    outline: 1px solid v.$black;
                    border: 3px solid v.$white;
                    box-sizing: border-box;
                    inset: 0;
                    pointer-events: none;
                }
            }
        }
    }
}

.carousel-section {
    height: 600px;
    position: relative;
    padding: 0px 65px;
    box-sizing: border-box;

    @media (max-width: 600px) {
        padding: 0px v.$mobile-page-padding;
    }

    &__btns-con {
        @include t.space-between-center-box(row);
        
        position: absolute;
        inset: 0;
        pointer-events: none;
        padding: 0 10px;
        box-sizing: border-box;
        z-index: 1;
    }

    &__btn {
        background-color: v.$white;
        border: 1px solid v.$light-blue;
        pointer-events: auto;
        transition: opacity 0.5s v.$appearing-time-func;

        &:nth-child(1) {
            opacity: 0;
        }
    }

    &__row-con {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    &__row {
        @include t.flex-box(row);

        align-items: flex-start;
        height: 100%;
        gap: 10px;
        transition: transform 0.5s v.$scroll-time-func;
    }

    &__card {
        width: 300px;
        position: relative;
        padding: 2px;
        flex-shrink: 0;
        box-sizing: border-box;

        a {
            text-decoration: none;
        }

        &--hover {
            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    outline: 1px solid v.$black;
                    border: 1px solid v.$white;
                    box-sizing: border-box;
                    inset: 0;
                    pointer-events: none;
                }
            }
        }
    }
}

.video-controller {
    @include t.flex-end-center-box(row);

    padding: 0px 80px;
    box-sizing: border-box;
    width: 100%;
    height: 90px;
    position: absolute;
    inset: 0;

    @media (max-width: 600px) {
        padding: 0px v.$mobile-page-padding;
    }

    &__play-stop-btn {
        transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);

        &:hover {
            background-color: v.$light-blue;
        }
    }
}

.fat-underlined-link {
    @include t.center-center-box();

    height: 30px;
    font-size: 16px;
    font-weight: 700;
    color: v.$black;
    text-decoration: none;
    border-bottom: 2px solid v.$black;
    padding: 3px 0px;

    &:hover {
        background-color: v.$light-blue;
    }
}

.hero-section {
    &__hot-topic-con {
        @include t.space-between-center-box(row);

        height: 50px;
        background-color: v.$light-blue;
        padding: 0px v.$mobile-page-padding;
        box-sizing: border-box;
        font-size: 17px;
    }
}

.theaser {
    &__btns-con {
        @include t.flex-box(row);

        gap: 10px;
    }

    &__btn {
        @include t.center-center-box(row);

        padding: 8px 15px;
        border: 1px solid v.$black;
        gap: 10px;

        &:hover {
            background-color: v.$gray;
        }
    }
}

.goods-carousel {
    &__menu {
        @include t.space-between-center-box(row);
        
        margin-bottom: 30px;

        .fat-underlined-link {
            @media (max-width: 700px) {
                display: none;
            }
        }
    }

    &__menu-btn {
        margin: 0px 3px;
        border: 1px solid v.$black;
        cursor: pointer;

        &--active {
            background-color: v.$black;
            color: v.$white;
        }
    }

    &__card-info {
        padding: 10px 15px 30px 15px;
        box-sizing: border-box;
    }

    &__card-title {
        color: v.$black;
        font-size: 20px;
        margin-bottom: 6px;
    }

    &__card-text {
        color: v.$black;
        font-size: 15px;
        margin-bottom: 10px;
        text-wrap: auto;
    }

    &__card-model-type {
        font-weight: 400;
        color: v.$dark-gray;
        font-size: 15px;
    }

    &__card-thumbnail {
        @include t.flex-start-flex-end-box();

        height: 310px;
        padding: 25px 10px;
        background-color: v.$yellow;
        box-sizing: border-box
    }

    &__scroll-bar {
        height: 5px;
        border-radius: 3px;
        background-color: v.$light-blue;
        margin-top: 40px;
    }

    &__scroll-track {
        width: floor(100% / 3);
        height: 5px;
        border-radius: 3px;
        background-color: v.$black;
        cursor: grab;
    }
}

.topics-carousel {
    .carousel-section__row-con {
        height: 650px;
    }

    &__card-thumbnail {
        width: 100%;
        height: 400px;
        background: v.$yellow;
    }

    &__card-info {
        @include t.flex-box();

        gap: 10px;
        padding: 20px 20px 80px 20px;
    }

    &__card-title {
        font-size: 17px;
        color: v.$black;
    }

    &__card-text {
        font-size: 15px;
        color: v.$black;
    }

    &__card-link-con {
        @include t.flex-end-flex-start-box();

        position: absolute;
        inset: 0;
        padding: 20px;
        pointer-events: none;
    }
}

.apps-section {
    gap: 0px;

    @media (max-width: 800px) {
        padding: 0px 20px;
        box-sizing: border-box;
    }

    &__categories-con {
        @include t.flex-start-flex-end-box(row);

        gap: 10px;
        width: 80%;

        @media (max-width: 1200px) {
            width: auto;
        }

        @media (max-width: 900px) {
            display: none;
        }
    }
    
    &__category {
        $size: 250px;

        width: $size;
        height: $size;
    }

    &__mobile {
        width: 100%;
        height: 320px;
    
        @media (min-width: 900px) {
            display: none;
        }
    }
}

.topics-navigation-section {
    @include t.space-between-center-box(row);
    
    padding: 60px 50px;
    box-sizing: border-box;

    .topics-navigation-section__title {
        font-size: 18px;
        margin-bottom: 15px;

        @media (max-width: 1200px) {
            font-size: 15px;
            margin-bottom: 8px;
        }
    }

    .navigation-links-con {
        width: 25%;

        @media (max-width: 1200px) {
            width: 50%;
            padding: 20px 0px;
            box-sizing: border-box;
        }

        @media (max-width: 600px) {
            width: 100%;
            padding: 25px 0px;
        }
    }

    @media (max-width: 1200px) {
        flex-wrap: wrap;
    }
}

.history-section {
    @include t.center-center-box();

    background-color: v.$black;
    padding: 80px 40px;
    box-sizing: border-box;

    @media (max-width: 600px) {
        padding: 80px v.$mobile-page-padding;
    }

    &__content {
        @include t.center-center-box();
    }

    &__title {
        line-height: 40px;
        max-width: 800px;
        font-size: 28px;
        color: v.$white;
        letter-spacing: 1px;
        margin-bottom: 25px;
        text-align: center;

        @media (max-width: 600px) {
            font-size: 24px;
            line-height: 32px;
        }
    }

    &__text {
        max-width: 800px;
        font-size: 17px;
        color: v.$white;
        text-align: justify;
        margin-bottom: 50px;
        line-height: 27px;
    }
}